:root {
    --main-dark: #362754;
    --main: #473370;
    --main-light: #9F8FCC;
    --accent-yep: #23E7C9;
    --accent-nope: #E26D5A;
}


body{
    font-family: 'Ubuntu';
    color: white;
    background-attachment: fixed;
    background-size: cover;
}
body::-webkit-scrollbar{
    display: none;
}

.navbar_custom{
    background: linear-gradient(var(--main-dark), var(--main));
    padding: 0;
}

.website_logo{
    width: 90px;    /* 20% */
    height: 80px;   /* 60% */
}

.website_text{
    font-size: 60px;
    opacity: 0.9;
    /* border: 1px red solid; */
}
.website_text:hover{
    opacity: 1;
}
