body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Ubuntu';
}

.top-navbar{
    background: linear-gradient(rgba(78,19,175,1), rgba(56,0,163,1));
    height: 90px;
    padding: 10px;
}

.top-navbar-logo{
    float: left;
    width: 110px;
    height: 90px;
}

.top-navbar-logo > img{
    width: 110px;
    height: 110px;
}

.top-navbar-name{
    font-size: 80px;
    float: left;
    height: 90px;
}

.container{
    padding: 20px;
}