
.choose-rectangle{
    position: absolute;
    background: rgba(78, 19, 175, 0.85);
    border-radius: 30px;`
}
.choose-image{
    position: absolute;
    width: 40%;
    height: 30%;
    transition: transform .2s;
    object-fit: fill;
    border: 2px solid #000;
    border-radius: 31px;
}
.choose-image:hover{
    border-color: #ccc;
    transform: scale(1.5);
}
.choose-button{
    position: absolute;
    width: 25%;
    height: 35%;
    top: 50%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 39px;
    display: flex;
    align-items: center;
    display: inline-block;
    color: #FFFFFF;
    background: linear-gradient(180deg, #70A90D 0%, #488800 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.choose-button-text-align{
    text-align: center;
}


.choose-button-text{
    position: absolute;
    width: 246px;
    height: 93px;
    left: 5px;
    top: 5px;

}
.choose-text{
    position: absolute;
    width: 80%;
    heidht:25%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 39px;
    align-items: center;
    color: #FFFFFF;
    border-radius: 30px;
}

.choose-text-field{
    position: absolute;
    width: 55%;
    height: 35%;
    top: 50%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    background: #9C6EEA;
}


