.container_game{
    margin-top: 25px;
}

.game_view{
    background: #000;
    width: 100%;
    height: 500px;
}

.timer{
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}

.player_div{
    border-radius: 50px;
    height: 50px;
    margin-top: 10px;
    padding: 10px;
    vertical-align: middle;
}
.player_gradient_0{ background: linear-gradient(90deg, rgba(202,14,155,1), rgba(107,38,223,1)); }
.player_gradient_1{ background: linear-gradient(90deg, rgba(251,140,0,1), rgba(96,106,31,0.8)); }
.player_gradient_2{ background: linear-gradient(90deg, rgba(3,169,244,1), rgba(11,60,134,0.6)); }
.player_gradient_3{ background: linear-gradient(90deg, rgba(0,200,83,1), rgba(11,136,0,0.6)); }