.container_game{
    margin-top: 25px;
}

.game_view{
    background: black;
    width: 100%;
    height: 500px;
}

.timer{
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}

.player_div{
    border-radius: 50px;
    height: 50px;
    margin-top: 10px;
    vertical-align: middle;
}
.player_gradient_0{ background: var(--main-dark); }
.player_gradient_1{ background: var(--main-dark); }
.player_gradient_2{ background: var(--main-dark); }
.player_gradient_3{ background: var(--main-dark); }

/*delete button and player divs*/
.ls-player-name{
    box-sizing: border-box;
    padding: 10px;
    width: 90%;
    float: left;
}
.ls-player-del{
    width: 10%;
    float: left;
}
.ls-player-del i{
    font-size: 30px
}
.ls-player-del:hover .bi-x-circle,
.ls-player-del .bi-x-circle-fill {
    display: none;
    cursor: pointer;
}
.ls-player-del:hover .bi-x-circle-fill {
    display: inline;
}