.container_game{
    margin-top: 25px;
}

#screen{
    margin: auto;
    background-color: black;
}

.timer{
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}

.player-div{
    border-radius: 50px;
    height: 60px;
    margin-top: 10px;
    vertical-align: middle;
    box-sizing: border-box;
    padding: 7px;
    background: var(--main-dark);
    color: var(--main-dark-hover);
}

/*delete button and player divs*/
.ls-player-name{
    box-sizing: border-box;
    padding: 10px;
    width: 90%;
    float: left;
    /*border: 1px solid red;*/
}
.ls-player-points{
    color: white;
    box-sizing: border-box;
    padding: 10px;
    width: 10%;
    float: left;
    /*border: 1px solid red;*/
}
.ls-player-del{
    width: 10%;
    float: left;
}
.ls-player-del i{
    font-size: 30px
}
.ls-player-del:hover .bi-x-circle,
.ls-player-del .bi-x-circle-fill {
    display: none;
    cursor: pointer;
}
.ls-player-del:hover .bi-x-circle-fill {
    display: inline;
}

.ls-close-button{
    background-color: var(--accent-nope) !important;
    color: var(--main-dark)  !important;
    border-color: var(--accent-nope) !important;
}

.ls-close-button:hover, .ls-close-button:focus,
.ls-close-button:active, .ls-close-button:visited{
    background-color: var(--accent-nope-hover) !important;
    color: var(--main-dark) !important;
    border-color: var(--accent-nope-hover) !important;
}

.ls-modal-style{
    border-radius: 50px;
    background: var(--main);
    box-sizing: border-box;
    padding: 20px;
}

.ls-modal-footer{
    display: flex;
    justify-content: center;
}

.ls-modal-title{
    color: var(--accent-yep)
}