.debug_class{   // just enable bg color and border to show how div looks like
    background-color: black;
    border: 1px red solid;
}

.test_class{    // class to test element behaviour
    background-color: #000 !important;
}

.col_div {
    padding: 20px;
}

.center_div {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.container_home{
    margin-top: 50px;
}

img{
    max-width: 100%;
    max-height: 100%;
}

.grid_div{
    width: 90%;
    max-height: 300px;
    border-radius: 50px;
    padding: 20px;
    opacity: 0.95;
    background-color: blueviolet;
    overflow-y: auto;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(244, 168, 255, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(244, 168, 255, 1);
    box-shadow: 0px 0px 15px 0px rgba(244, 168, 255, 1);
}
.grid_div::-webkit-scrollbar{
    display: none;
}

.grid_long_div{
    width: 95%;
    max-height: 450px;
}

.long_div{
    background-color: darkmagenta;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    scale: 1.4;
}