.room-rectangle{
    position: absolute;
    width: 560px;
    height: min-content;
    background: var(--main);
    border-radius: 30px;
    padding: 2em;
}

.room-pin {
    font-size: 4em;
    font-weight: bold;
    color: var(--accent-yep)
}

.room-token {
    font-size: 2.5em;
    font-weight: bold;
    font-style: italic;
    color: var(--accent-yep)
}

.room-subtext {
    font-size: 1.3em;
    color: white;
}

.room-pin-container {
    text-align: center;
}

.ls-button{
    width: 200px;
    height: 60px;
    font-size: 1.4em;
    align-items: center;
    display: inline-block;
    color: var(--main-dark);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0.5em 1em auto 0;
    border-radius: 30px;
    border: none;
}

.ls-start-game-button{
    background: var(--accent-yep);
}

.ls-start-game-button:hover{
    background: var(--accent-yep-hover);
}

.ls-cancel-game-button {
    background: var(--accent-nope);
}

.ls-cancel-game-button:hover{
    background: var(--accent-nope-hover);
}

.ls-dropdown-div{
    height: 60px;
    margin: 1.0em 0 auto 0;
    width: 100%;
}

.ls-dropdown-btn{
    width: 80%;
}

.ls-dropdown-menu{
    width: 80%;
}

.ls-extended-button{
    background-color: var(--main-dark) !important;
    color: white !important;
    border-color: var(--main-dark) !important;
}

.ls-extended-button:hover, .ls-extended-button:focus,
.ls-extended-button:active, .ls-extended-button:visited{
    background-color: var(--main-dark-hover) !important;
    color: white !important;
    border-color: var(--main-dark-hover) !important;
}
