.room-rectangle{
    position: absolute;
    width: 560px;
    height: min-content;
    background: var(--main);
    border-radius: 30px;
    padding: 2em;
}

.room-pin {
    font-size: 4em;
    font-weight: bold;
    color: var(--accent-yep)
}

.room-pin-subtext {
    font-size: 1.3em;
    color: white;
}

.room-pin-container {
    text-align: center;
}

.start-game-button{
    width: 200px;
    height: 90px;
    font-size: 1.4em;
    align-items: center;
    display: inline-block;
    color: white;
    background: var(--accent-yep);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    border-radius: 30px;
    border: none;
}

.cancel-game-button {
    width: 200px;
    height: 90px;
    font-size: 1.4em;
    align-items: center;
    display: inline-block;
    color: #fff;
    background: linear-gradient(var(--main-dark), var(--main));
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0.5em auto 0;
    border-radius: 30px;
    border: none;
}

.ls-dropdown-div{
    margin-top: 20px;
    width: 100%;
}

.ls-dropdown-btn{
    width: 80%;
}

.ls-dropdown-menu{
    width: 80%;
}
