{% extends "base.html" %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/choose.css') }}" />
{% endblock %}
{% block title %} Home {% endblock %}
{% block content %}
    <div class="choose-container">
        <div class="choose-rectangle" style="top: 20%; height: 30%">
            <div class="choose-button-text-align">
                <h3 class="choose-text" style="top: 20%;left: 10%;">Join to existing game</h3>
                <form action="/room-player" method="post">
                    <button type ="submit" class="choose-button"  style="left:70%">Join</button>
                    <input class="choose-text-field" name="pin" type = "text" id="text-field" style="left:10%; ">
                </form>
        </div>
   </div>
<!--TODO: this style must be changed, for automate generating divs, positioning by top, left etc. with percent has no sense-->
<!--TODO: we also should try to avoid setting style "inline"-->
<!--But for now it can be like this-->
   <div class="choose-rectangle" style="top: 65%;height: 100%">
       <div class="choose-button-text-align">
            <h3 class="choose-text" style="top: 10%;left: 10%;">Create new room</h3>
       </div>
       <!--One form instead of n forms, we will recognize what game is by value parameter in button-->
       <!--IMPORTANT request.form.get() method in views.py will search by "name" parameter and take value from "value" parameter in each button-->
       <form method="POST" action="/room-owner">
          <button type="submit" class="submit-button"  name="game" value="pac-man">
              <img style="top: 20%;left: 7.5%;" class ="choose-image" src="{{ url_for('static', filename='images/pacman.png') }}"  alt="pacman">
          </button>
          <button type="submit" class="submit-button"  name="game" value="pong">
              <img style="top: 20%;left: 52.5%;" class ="choose-image" src="{{ url_for('static', filename='images/pong.png') }}"  alt="pong">
          </button>
          <button type="submit" class="submit-button"  name="game" value="pac-man">
              <img  style="top: 60%;left: 7.5%;" class ="choose-image" src="{{ url_for('static', filename='images/pacman.png') }}"  alt="pacman">
          </button>
          <button type="submit" class="submit-button" name="game" value="pong" >
              <img  style="top: 60%;left: 52.5%;" class ="choose-image" src="{{ url_for('static', filename='images/pong.png') }}"  alt="pong">
          </button>
       </form>
   </div>
    </div>
{% endblock %}
