{% extends "base.html" %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}" />
{% endblock %}
{% block title %} Home {% endblock %}
{% block content %}

    <div class="container_home">
        <div class="row">
            <div class="col-sm-6 col-xs-12 col_div">
                <div class="grid_div center_div fill">
                    <img src="{{ url_for('static', filename='images/question_mark_mario.webp') }}" alt="">    <!--https://www.insidehook.com/article/internet/gen-z-question-marks-->
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 col_div">
                <div class="grid_div center_div">
                    <h1>What is Alighieri?</h1>
                    <p>Welcome to Alighieri - a platform for testing artificial intelligence algorithms on multiplayer games.
                        With this platform, which allows you to run algorithms locally on your computer and then send the necessary commands using our API, you can test your algorithms and compete with your friends.
                        Join our community today and start developing your projects!</p>
                </div>
            </div>
        </div>
        <!--TODO create grid with games based on somekind jsonfile (easy way to add new things)-->
        <div class="row">
            <div class="col col_div">
                <div class="grid_div center_div grid_long_div">
                    <h3 style="text-align: center;">Available games</h3>
                    <div class="row">
                        <div class="col-sm-4 col-xs-12 col_div">
                            <div class="grid_div center_div fill">
                                <img src="{{ url_for('static', filename='images/pacman.png') }}" alt="">
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12 col_div">
                            <div class="grid_div center_div fill">
                                <img src="{{ url_for('static', filename='images/pong.png') }}" alt="">
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12 col_div">
                            <div class="grid_div center_div fill">
                                <img src="{{ url_for('static', filename='images/pacman.png') }}" alt="">
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-lg btn-block btn-success rounded-pill" onclick="window.location.href='/choose'">Go to games</button>
                </div>
            </div>
         </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12 col_div">
                <div class="grid_div center_div">
                    <h1>About us</h1>
                <p>We are a young dynamic student team with interests focused broadly on artificial intelligence.
                    We are aware of the fact that when writing algorithms or bots based on AI, there will often appear all sorts of problems that are hard to see at first glance and which cause discouragement in this exciting topic.
                    For this reason, we have decided together to build a platform for testing artificial intelligence algorithms written by users.</p>

                </div>
            </div>
            <div class="col-sm-6 col-xs-12 col_div">
                <div class="grid_div center_div fill">
                    <img src="{{ url_for('static', filename='images/among_us.jpg') }}" alt="">    <!--https://www.radiotimes.com/technology/gaming/among-us-vr-release-date/-->
                </div>
            </div>
        </div>
    </div>

{% endblock %}
