{% extends "base.html" %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/game.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/room.css') }}" />

    <script type="text/javascript"  src ="{{ url_for('static', filename='scripts/common-events.js') }}"></script>
    <script type="text/javascript"  src ="{{ url_for('static', filename='scripts/join-events.js') }}"></script>
{% endblock %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container_game">
    <div class="room-rectangle center_div">
        <div class="room-pin-container">
            <p class="room-pin">{{game_pin}}</p>
            <span class="room-pin-subtext">Room code</span>
        </div>
            <div id="player-list">

            </div>
        <div style="text-align: center;">
            <button class="cancel-game-button" onclick="leave('{{ url_for('views.choose') }}')">Exit</button>
        </div>
    </div>
</div>

<script>
    var actual_player_id = {{ actual_player_id }}
</script>

{% for player in players %}
    <script>
        addPlayer(JSON.parse({{ player | tojson }}));
    </script>
{% endfor %}

{% endblock %}
