{% extends "base.html" %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/game.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/room.css') }}" />

    <script type="text/javascript"  src ="{{ url_for('static', filename='scripts/common-events.js') }}"></script>
    <script type="text/javascript"  src ="{{ url_for('static', filename='scripts/room-player-events.js') }}"></script>
{% endblock %}
{% block title %} Home {% endblock %}
{% block content %}
<div class="container_game">
    <div class="room-rectangle center_div">
        <div class="room-pin-container">
            <span class="room-subtext">Room code</span>
            <p class="room-pin" style="margin-bottom: 0">{{game_pin}}</p>
        </div>
         <div class="room-pin-container">
             <span class="room-subtext">Token</span>
             <p class="room-token">{{ token }}</p>
        </div>
            <div id="player-list">

            </div>
        <div style="text-align: center;">
            <button class="cancel-game-button" onclick="leave('{{ url_for('views.choose') }}')">Exit</button>
        </div>
    </div>
</div>

<script>
    var actual_player_id = {{ actual_player_id }}
    const backgroundColor = '{{ color[0] }}';
</script>

{% for player_id, player_name in players.items() %}
    <script>
        addPlayer({ id: {{ player_id }}, name: '{{ player_name }}' });
    </script>
{% endfor %}

{% endblock %}
