{% extends "base.html" %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/game.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/room.css') }}" />

    <script type="text/javascript"  src ="{{ url_for('static', filename='scripts/common-events.js') }}"></script>
    <script type="text/javascript"  src ="{{ url_for('static', filename='scripts/room-owner-events.js') }}"></script>
{% endblock %}
{% block title %} Room {% endblock %}
{% block content %}
<div class="container_game">
    <div class="room-rectangle center_div">
        <div class="room-pin-container">
            <span class="room-subtext">Room code</span>
            <p class="room-pin" style="margin-bottom: 0">{{game_pin}}</p>
        </div>
        <div class="room-pin-container">
            <span class="room-subtext">Token</span>
            <p class="room-token">{{ token }}</p>
        </div>

        <div id="player-list">

        </div>
        <div style="text-align: center;">
            <button class="ls-button ls-cancel-game-button" onclick="leave('{{ url_for('views.choose') }}')">Cancel</button>
            <button class="ls-button ls-start-game-button" onclick="startGame()">Start game</button>
            <div class="dropdown ls-dropdown-div">
                <button class="shadow-none btn btn-lg btn-secondary dropdown-toggle btn-success rounded-pill ls-dropdown-btn ls-extended-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add bot
                </button>
                <!--TODO: style dropdown list, add pointer on hover-->
                <div class="dropdown-menu ls-dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for b_key, b_val in bots.items() %}
                        <!--For now only b_key is used (b_key == bot name), we have to consider what data bots need to work-->
                        <span class="dropdown-item" onclick="addBot('{{ b_key }}', '{{ b_val }}')">{{ b_key }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="form-check">
                <div class="row px-5">
                    <div class="col-2 col-md-2 pl-5 pr-0">
                        <input class="form-check-input ls-random-map-checkbox" type="checkbox" value="" id="generateRandomMap">
                    </div>
                    <div class="col-10 col-md-10 pr-5 pl-0">
                        <label class="form-check-label ls-random-map-label" for="generateRandomMap">
                            Generate random map
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const backgroundColor = '{{ color[0] }}';
</script>
{% for player_id, player_name in players.items() %}
    <script>
        addPlayer({ id: {{ player_id }}, name: '{{ player_name }}' });
    </script>

{% endfor %}

{% endblock %}
