{% extends "base.html" %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/game.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/room.css') }}" />
{% endblock %}
{% block title %} Room {% endblock %}
{% block content %}
<div class="container_game">
    <div class="room-rectangle center_div">
        <div class="room-pin-container">
            <p class="room-pin">{{game_pin}}</p>
            <span class="room-pin-subtext">Room code</span>
        </div>
        <!--TODO: implement real Player class, this is a simple example-->
        <div id="player-list">

        </div>
        <div style="text-align: center;">
            <button class="cancel-game-button" onclick="window.location.href='{{ url_for('views.choose') }}'">Cancel</button>
            <button class="start-game-button" onclick="startGame()">Start game</button>
            <div class="dropdown ls-dropdown-div">
                <button class="shadow-none btn btn-lg btn-secondary dropdown-toggle btn-success rounded-pill ls-dropdown-btn ls-extended-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add bot
                </button>
                <!--TODO: style dropdown list, add pointer on hover-->
                <div class="dropdown-menu ls-dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for b_key, b_val in bots.items() %}
                        <!--For now only b_key is used (b_key == bot name), we have to consider what data bots need to work-->
                        <span class="dropdown-item" onclick="addBot('{{ b_key }}', '{{ b_val }}')">{{ b_key }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!--TODO: refactor this a little-->
<!--TODO: start writing drawio to this-->
<script type="text/javascript">
    const socketio = io();

    function addBot(b_key, b_val){    // b_val unused
        socketio.emit('add_bot', {name: b_key});
        console.log("bot sent: " + b_key);
    }

    function delPlayer(player_id, player_name){
        console.log("player was kicked: " + player_id + " " + player_name);
        const playerList = document.getElementById("player-list");
        playerList.innerHTML = "";
        playerMap.delete(player_id);
        refreshPlayerList();
        socketio.emit('del_player', {id: player_id, name: player_name});
    }

    const playerMap = new Map();

    function refreshPlayerList() {
        const playerList = document.getElementById("player-list");
        let content = "";
        for (const [id, name] of playerMap.entries()) {
            if(id != 0){
                content += `
                    <div id="player_${id}" class="player_div player_gradient_${id}">
                        <div class="ls-player-name">${name}</div>
                        <div class="ls-player-del">
                          <i class="bi bi-x-circle"></i>
                          <i class="bi bi-x-circle-fill" onclick="delPlayer(${id}, '${name}')"></i>
                        </div>
                    </div>
                `
            }
            else{
                content += `
                    <div id="player_${id}" class="player_div player_gradient_${id}">
                        <div class="ls-player-name">${name}</div>
                        <div class="ls-player-del"></div>
                    </div>
                `
            }
        }
        playerList.innerHTML = content;
    }

    function leave(){
        window.location.href='{{ url_for('views.choose') }}';
    }

    const addPlayer = (player) => {
        if (!playerMap.has(player.id) || playerMap.get(player.id) === "") {
            playerMap.set(player.id, player.name);
        }
        refreshPlayerList();
        console.log(player.id);
        console.log(player.name);
    };
    function startGame() {
        socketio.emit('start_game');
    }

    socketio.on("connection", (player) => {
        console.log("[JS] something connected " + player["name"]);
        addPlayer(player);
    });

    socketio.on('disconnection', (player) => {
        console.log('[JS] user disconnected ' + player["name"]);
        const playerList = document.getElementById("player-list");
        playerList.innerHTML = "";
        playerMap.delete(player["id"]);
        refreshPlayerList();
    });

    socketio.on('redirect', function(destination) {
        window.location.href = destination;
    });

    socketio.emit('connected');
</script>
{% for player in players %}
    <script>
        addPlayer(JSON.parse({{ player | tojson }}));
    </script>
{% endfor %}
{% endblock %}
