{% extends "base.html" %}
{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/home.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/game.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/room.css') }}" />
{% endblock %}
{% block title %} Room {% endblock %}
{% block content %}
<div class="container_game">
    <div class="room-rectangle center_div">
        <div class="room-pin-container">
            <p class="room-pin">{{game_pin}}</p>
            <span class="room-pin-subtext">Kod pokoju</span>
        </div>
        <!--TODO: implement real Player class, this is a simple example-->
        {% for player in players %} <!--generate players-->
            <div id="player_{{ player.id }}" class="player_div player_gradient_{{ player.id }}">{{ player.name }}</div>
        {% endfor %}
        <div style="text-align: center;">
            <button class="cancel-game-button" onclick="window.location.href='{{ url_for('views.choose') }}'">Anuluj</button>
            <button class="start-game-button" onclick="window.location.href='{{ url_for('views.game') }}'">Rozpocznij gre</button>
        </div>
    </div>
</div>
{% endblock %}
